@{
    ViewData["Title"] = "Home Page";
}
   <div class="container">
    <div class="row">
        <div class="col">

            <div class="d-grid gap-2">
              <button class="btn btn-lg btn-primary button mt-5">
                    <a style="color:white" asp-area="Movies" asp-controller="Movie" asp-action="MovieGallery">Go to Admin Area</a>
               </button>
              <button class="btn btn-lg btn-primary" type="button">Login For User</button>
            </div>
        </div>
    </div>
</div>